
.col-sm{
  background-color: #b569e8;
  color:white;
}

.col-md{
  background-color: #995cc1;
  color:white;}

.col-lg{
  background-color: #6f468b;
  color:white;
}

.col-xl{
  background-color: #362343;
  color:white;
}